
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        <a href="/Home/Login">Login</a>
    </li>
    <li>
        <a href="/Home/Whoami">Whoami</a>
    </li>
    <li>
        <a href="/Home/Refresh">Refresh</a>
    </li>
    <li>
        <a href="/Home/ViewStack">View Root</a>
    </li>
</ul>