
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (!User.Identity.IsAuthenticated)
{
    <p>
        <a href="/Home/Login">Log in</a>
    </p>
}
else
{
    <h2>
        Logged in as: @User.Identity.Name
    </h2>
    <form action="/Gallery/List" method="GET">
        <label>
            Username:
            <input type="text" name="username" />
            <input type="submit" value="Get Gallery List" />
        </label>
    </form>
    <hr />
    <ul>
        <li>
            <a href="/Home/Whoami">Whoami</a>
        </li>
        <li>
            <a href="/Home/Logout">Log out</a>
        </li>
    </ul>
}
